<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>KanBoard - Task Management</title>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet" />
</head>
<body>
  <header class="navbar">
    <div class="logo">
    <img src="https://raw.githubusercontent.com/VisnuPriyaa19/Task-Management-System/refs/heads/visnu/Frontend/Task-Management-System/src/assets/images/logo.png" alt="KanBoard Logo" class="logo-img" />
    <span>KanBoard</span>
  </div>
    <nav class="nav-links">
      <a routerLink="/"><b>Home</b></a>
      <a href="#feature"><b>Features</b></a>
      <a href="#"><b>About Us</b></a>
      <a href="#"><b>Support</b></a>
    </nav>
    <div class="auth-buttons">
      <a routerLink="/login" class="login">Login</a>
      <a routerLink="/register" class="register">Register</a>
    </div>
  </header>

  <section class="hero">
    <h1>Effortless Task Management<br>for Individuals</h1><br>
    <h3>Plan, prioritize, and progress — all in one place.</h3>
    <p>Organize projects, tasks and stay on top of deadlines with a powerful, intuitive task management solution designed to achieve you goals.</p>  
  </section>

  <section class="feature">
  <div class="feature-left">
    <div class="feature-card">One-stop solution for all your project and task management needs</div>
    <div class="feature-card">Manage tasks and deadlines with ease</div>
    <div class="feature-card">Personalized dashboard for all your projects</div>
    <div class="feature-card">Create, update, delete, and view projects and tasks</div>
    <div class="feature-card">Drag and drop tasks across statuses(To-Do, In progress, Done, Backlog)</div>
    <div class="feature-card">Filter tasks by priority and due dates</div>
    <div class="feature-card">Keep track of progress of all your projects</div>
  </div>

  <div class="feature-right">
  <h2>Track your task<br>progress with us</h2>
  <p>Simplify your workflow and focus on what truly matters.<br>  
    Let us help you turn tasks into achievements.</p>
  <a routerLink="/register" style="color:white">
    Get Started <span class="arrow">→</span>
  </a>
</div>

</section>



  <footer class="footer">
  <div class="footer-links">
    <a href="#" style="font-size:large"><b>FAQs</b></a>
    <a href="#" style="font-size:large"><b>Contact</b></a>
    <a href="#" style="font-size:large"><b>Privacy Policy</b></a>
  </div>
  <p style="margin-top: 10px; font-size:medium">&copy; 2025 Kanboard. All rights reserved.</p>
</footer>

</body>
</html>
